* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fc8019;
    padding: 15px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.logo-container {
    display: flex;
    align-items: center;
}
.brand-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.brand-name {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.dropdown {
    margin-left: 20px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
.nav-menu {
    display: flex;
    align-items: center;
}
.nav-link {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.nav-link i {
    margin-right: 5px;
}
.search-bar {
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
    width: 250px;
}